<%- include ('../partials/header') -%>

<link rel="stylesheet" href="../public/css/admin.css">    
<div class="log-form">
    <h2>ADMIN LOGIN</h2>
    <form>
        <input type="text" title="username" placeholder="username" />
        <input type="password" title="username" placeholder="password" />
        <button type="submit" class="btn">Login</button>
        <a class="forgot" href="#">Forgot Username?</a>
    </form>
</div>
<!--end log form -->

<%- include ('../partials/footer') -%>