<%- include ('admin-partials/adminHeader') -%>
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-light">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <!-- <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol> -->
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="card">
            <div class="card-header border-transparent">
              <h3 class="card-title">Latest Downloads</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table m-0">
                  <thead>
                    <tr>
                      <th>Download ID</th>
                      <th>Content Type</th>
                      <th>Item Title</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>TV Show</td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">Jumanji: Next Level</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Movie</td>
                      <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">Avengers: Endgame</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>Audio</td>
                      <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">Mission Impossible V: Ghost Protocol</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>Movie</td>
                      <td>
                        <div class="sparkbar" data-color="#00c0ef" data-height="20">Black Panther</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR1848</a></td>
                      <td>Movie</td>
                      <td>
                        <div class="sparkbar" data-color="#f39c12" data-height="20">Avengers: Endgame</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR7429</a></td>
                      <td>Audio</td>
                      <td>
                        <div class="sparkbar" data-color="#f56954" data-height="20">Mission Impossible V: Ghost Protocol</div>
                      </td>
                    </tr>
                    <tr>
                      <td><a href="pages/examples/invoice.html">OR9842</a></td>
                      <td>TV Show</td>
                      <td>
                        <div class="sparkbar" data-color="#00a65a" data-height="20">Jumanji: Next Level</div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.card-body -->
            <div class="card-footer clearfix">
              <a href="#" class="btn btn-fix btn-sm btn-secondary float-right">View All Downloads</a>
            </div>
            <!-- /.card-footer -->
          </div>
          <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<%- include ('admin-partials/adminFooter') -%>