<%- include ('admin-partials/adminHeader') -%>
<link rel="stylesheet" href="../public/css/contentUpdate.css">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-light">Add Content</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <!-- <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active">Add Content</li>
                                </ol> -->
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Search for Movie / TV Show to Update</h3>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-8 col-xs-offset-2">
                                <div class="input-group">
                                    <div class="search dropdown">
                                        <button class="btn btn-default dropdown-toggle" type="button" id="mediaFilterBtn" data-toggle="dropdown"
                                            aria-haspopup="true" aria-expanded="true">
                                            Media Choice
                                            <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                            <li><div id="movie_filter">Movie</div></li>
                                            <li><div id="tv_filter">TV</div></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control" id="search_param" placeholder="Search media...">
                                    <div class="input-group-btn">
                                        <button id="submit_search_2" class="btn btn-default"><i id="submit_search" class="fa fa-search"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="results">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">Search Results</h3>                    
                                </div>

                                <div id="submit_error" class="hide_content alert alert-danger">
                                
                                </div>
                                
                                <section class="content hide_content" id="search_results">
                                
                                    <!-- Default box -->
                                    <div class="card card-solid">
                                        <div class="card-body pb-0">
                                            <div class="row d-flex align-items-stretch" id="search_content">
                                                
                                            </div>
                                        </div>
                                        <!-- /.card-body -->
                                        <!-- <div class="card-footer">
                                            <nav aria-label="Contacts Page Navigation">
                                                <ul class="pagination justify-content-center m-0">
                                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">6</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">7</a></li>
                                                    <li class="page-item"><a class="page-link" href="#">8</a></li>
                                                </ul>
                                            </nav>
                                        </div> -->
                                        <!-- /.card-footer -->
                                    </div>
                                    <!-- /.card -->
                                
                                </section>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</div>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
<script src="../public/js/contentUpdate.js"></script>

<%- include ('admin-partials/adminFooter') -%>