<%- include ('partials/header') -%>      
      <!-- Page top section -->
        <section class="page-top-section set-bg" data-setbg="../public/img/page-top-bg/1.jpg">
            <div class="page-info">
                <h2>Movies</h2>
            </div>
        </section>
        <!-- Page top end-->

        <!-- Games section -->
        <section class="games-section">
            <div class="container">
                <div class="row">
                    <div class="col-xl-7 col-lg-8 col-md-7">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/1.jpg" alt="#">
                                    <h5>Zombie Appocalipse 2</h5>
                                    <a href="/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/2.jpg" alt="#">
                                    <h5>Dooms Day</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/3.jpg" alt="#">
                                    <h5>The Huricane</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/4.jpg" alt="#">
                                    <h5>Star Wars</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/5.jpg" alt="#">
                                    <h5>Candy land</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/6.jpg" alt="#">
                                    <h5>E.T.</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/7.jpg" alt="#">
                                    <h5>Zombie Appocalipse 2</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/8.jpg" alt="#">
                                    <h5>Dooms Day</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="game-item">
                                    <img src="../public/img/games/9.jpg" alt="#">
                                    <h5>The Huricane</h5>
                                    <a href="/movie/movie-single" class="read-more">Read More <img
                                            src="../public/img/icons/double-arrow.png" alt="#" /></a>
                                </div>
                            </div>
                        </div>
                        <div class="site-pagination">
                            <a href="#" class="active">01.</a>
                            <a href="#">02.</a>
                            <a href="#">03.</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
                        <div id="stickySidebar">
                            <div class="widget-item">
                                <div class="categories-widget">
                                    <h4 class="widget-title">Genre</h4>
                                    <ul>
                                        <li><a href="">Action</a></li>
                                        <li><a href="">Adventure</a></li>
                                        <li><a href="">SciFi</a></li>
                                        <li><a href="">Horror</a></li>
                                        <li><a href="">Drama</a></li>
                                        <li><a href="">Shooter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Games end-->

<%- include ('partials/footer') -%>