body{
    background: linear-gradient(45deg, #261727 0%, #161120 100%);
}

.admin-login{
    background-color: #261727;
}

.admin-login:hover{
    background-color: #161120;
    color: rgb(238, 235, 235);
}